<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>{{head}}</title>
  </head></html>
<form method='POST'> {%csrf_token%}
    {% if request.user.is_authenticated %}
    <center> {{content}} </center>
   <br>
   <center><button class="btn btn-default" type="submit">Submit</button></center>
   <br>
        {% if flag is not None %}
        <div style="padding:8px;margin:2px" >{{word}} - </div>
   <div style="padding:15px;margin:2px" > 
        <il>   
            {% for i in meaning %}
                <li>{{i}}</li>
            {% endfor %}
        </il></div>
        {%else%}
        <div style="padding:8px;margin:2px" >Oops! Looks like you made a spelling mistake. Please select your word from the list below.</div>
        <div style="padding:15px;margin:2px" > 
        <select>
                {%for i in meaning%}    
                <option value={{i}}>{{i}}</option>
                {%endfor%}
        </select></div>
        <button class="btn btn-default" type='submit'>Submit</button>
        {%endif%}
    {%else%}
        <div>Please <a href="login">Login</a> or <a href="register">register</a> to access this page!</div>
    {%endif%}
   </div>
   {%if request.user.is_authenticated%}
   <footer><center><a href="logout"><button class="btn btn-default" type="button">logout</button></a></center></footer>
   {%endif%}
</form>